body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.top-layer{
    display: flex;
    justify-content: space-between;
    margin: 5% 0 0 10%;
}
.search{
    position: absolute;
    height: 2.5vh;
    margin: 0.5% 0 0 -2%;
}
.top-right{
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
}
input{
    height: 4vh;
    width: 15vw;
    border: 0.5px solid #ebebeb;
}
label{
    margin-top: 2%;
}
legend{
    font-size: 10px;
}
fieldset{
    width: 10vw;
    height: 3vh;
    border: 0.5px solid #ebebeb;
}
select{
    position: absolute;
    margin: -0.5% 0 0 -5%;
    border: none;
    background: none;
    width: 10vw;
}
.info{
    margin: 5% 0 0 10%;
    background: #fff4ea;
    width: 86%;
    height: 6vh;
    padding: .3em;
    display: flex;
}
.info-icon{
    margin: 1% 2% 0 15%; 
    height: 3vh;
}
section{
    margin: 3% 0 0 10%;
}
.section-top{
    display: flex;
    justify-content: space-between;
    width: 86%;
}
.grey{
    color: #989898;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card{
    height: 26vh;
    margin: 0 10% 10% 0;
    padding: .5em;
    box-shadow: rgba(161, 82, 82, 0.1) 0px 10px 10px;
}
h6{
    font-size: 18px;
}
.template{
    background-color: #f9f9f9;
    color: #08bd37;
    height: 5vh;
    padding: .3em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.pagination {
    margin: 2% 40%;
    display: flex;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a{
    background-color: #47ccde ;
    border-color: #47ccde ;
    color: #fff;
  }
  .pagination > li > a{
    border: 1px solid #47ccde ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #47ccde ;
    border-color: #47ccde;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: #47ccde
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }
@media(min-width: 320px) and (max-width: 767px) {
    .top-layer{
        flex-direction: column;
    }
    .top-right{
        flex-direction: column;
    }
    input{
        width: 85%;
    }
    .search{
        margin: 2% 0 0 -7%;
    }
    select{
        width: 75vw;
        margin-left: -35%;
    }
    fieldset{
        width: 90%;
        height: 4vh;
    }
    .info{
        height: 14vh;
        width: 82%;
    }
    .info-icon{
        margin: 10% 2% 0 5%; 
    }
    .card{
        width: 90%;
        height: 35vh;
    }
    .template{
        margin: 5% 0 0 -2%;
        width: 83.4%;
    }
}